__pycache__/
tom_test/
hanabi-learning-environment/
HyperSearchResults/
# Ignore all of osarsa-aaai-25 except the .dpomdp problem files
osarsa-aaai-25/*
!osarsa-aaai-25/code/
osarsa-aaai-25/code/*
!osarsa-aaai-25/code/src/
osarsa-aaai-25/code/src/*
!osarsa-aaai-25/code/src/problem_examples/
osarsa-aaai-25/code/src/problem_examples/*
!osarsa-aaai-25/code/src/problem_examples/dpomdp/
osarsa-aaai-25/code/src/problem_examples/dpomdp/*
!osarsa-aaai-25/code/src/problem_examples/dpomdp/*.dpomdp
Presentation/

test.py
*checkpoint.ipynb

*.png
*.pdf
*.pth
*.npy
*.csv
*.pkl
*_results.csv
!final_results.csv

!best_params.json

Results/OSarsa/*/